body {
    background-color: #333333;
}
#page-wrapper {
    width: 960px;
    margin: 30px auto;
}
header {
    float: right;
    width: 250px;
    margin-bottom: 1em;
}
#portal-personaltools-wrapper {
    width: 960px;
    margin: 0 auto;
}
#logo img {
    width: 100%;
    border-radius: 20px;
}
#globalnav {
    margin-top: 1em;
}
#globalnav li {
    width: 122px;
    float: left;
    background: #000000;
    margin-bottom: 6px;
}
#globalnav li:nth-of-type(odd) {
    margin-right: 6px;
}
#globalnav .selected,
#globalnav li:hover {
    background: #222222;
}
#globalnav a,
#globalnav a:visited {
    display: table-cell;
    color: #ffffff;
    text-transform: uppercase;
    height: 65px;
    vertical-align: middle;
    text-align: center;
    width: 124px;
    border: 3px double #999999;
    font-family: 'Syncopate', sans-serif;
}

#globalnav .selected a,
#globalnav li:hover a {
    border: 3px double #777777;
}
#globalnav .social,
#globalnav .social:hover {
    background-color: transparent;
}
#globalnav .social a {
    display: inline-block;
    width: 37px;
    height: 37px;
    background: url(../images/social.png) no-repeat top left;
    text-indent: -300px;
    overflow: hidden;
    margin-top: 15px;
    border: none;
}
#globalnav .social a,
#globalnav .social:hover a {
    border: none;
}
#globalnav .social .fb {
    margin-right: 10px;
    margin-left: 20px;
}
#globalnav .social .fb:hover {
    background-position: -42px top;
}
#globalnav .social .tw {
    background-position: -83px top;
}
#globalnav .social .tw:hover {
    background-position: -124px top;
}

section {
    float: left;
    width: calc(100% - 270px);
}
#content {
    background-color: #ffffff;
    margin: 0;
    padding: 1em;
    border: 3px solid #555555;
}
#content h1.documentFirstHeading {
    text-align: right;
    font-family: 'Syncopate',sans-serif;
    font-size: 30px;
    padding: 5px 10px 0 0;
    text-transform: uppercase;
}
#content h1.documentFirstHeading::after {
    content: 'x';
    display: inline-block;
    width: 22px;
    height: 22px;
    font-size: 22px;
    overflow: hidden;
    background-color: #000000;
    color: #000000;
}
#content .documentDescription {
    margin-bottom: 1em;
}
aside {
    clear: right;
    float: right;
    width: 250px;
}
.portletStaticText {
    padding: 1em;
    color: #ffffff;
}
.portletStaticText h3 {
    color: #ffffff;
}
.button a,
.button a:visited {
    background-color: #3a79ad;
    border-radius: 20px;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Syncopate', sans-serif;
}
.button a:hover {
    background-color: #29618E;
}
footer {
    margin-top: 2em;
    border-top: 1px solid #555555;
    padding-top: 1em;
}
footer > div {
    width: 33.3%;
    font-size: 80%;
    float: left;
    color: #bbbbbb;
}
footer strong {
    color: #eeeeee;
}
footer a,
footer a:visited {
    font-weight: bold;
}
footer p {
    margin-left: 3em;
}
.donate a,
.donate a:visited {
    background-color: #216b21;
}
.donate a:hover {
    background-color: #0E9E0E;
}

/* homepage */
.template-homepageview #content {
    border: none;
    background: transparent;
    padding: 0;
    color: #ffffff;
}
.template-homepageview #content h3 {
    color: #ffffff;
}
#slideshow {
    margin-bottom: 1em;
}
#latest-sermon {
    float: right;
    border-left: 1px solid #555555;
    margin-left: 1em;
    padding-left: 1em;
    font-size: 20px;
    line-height: 23px;
    width: 33.3%;
    text-align: right;
}
#latest-sermon h4 {
    text-transform: uppercase;
    color: #999999;
    font-size: 14px;
    margin-bottom: 0.5em;
}
#latest-sermon p {
    font-weight: bold;
}
#latest-sermon .button {
    margin-top: 1em;
}
#homepage-text {
    font-family: 'Syncopate', sans-serif;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
}

/* hide display menu for pages with custom views */
.template-sermonlistview #plone-contentmenu-display,
.template-homepageview #plone-contentmenu-display {
    display: none;
}

/* RESPONSIVE */
@media screen and (max-width: 960px) {
    #page-wrapper {
        width: 100%;
    }
    #slideshow {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    header {
        width: 100%;
        float: none;
    }
    #portal-personaltools-wrapper {
        width: 100%;
    }
    #logo {
        float: left;
        margin: 0 1em 0 3px;
    }
    #logo img {
        max-width: 150px;
    }
    #globalnav li {
        margin-right: 3px;
    }
    section {
        float: none;
        width: 100%;
        clear: both;
    }
    #content img {
        max-width: 100%;
    }
    .template-homepageview #content-area {
        padding-top: 1em;
    }
    
    #content-core img {
        float: none;
    }
}
@media screen and (max-width: 475px) {
    #globalnav {
        float: right;
        width: calc(100% - 175px);
        margin-top: 0;
    }
    #latest-sermon {
        float: none;
        width: 96%;
        border-left: none;
        text-align: left;
        margin: 0 0 1em;
        padding: 0 2%;
    }
    #homepage-text {
        padding: 0 2%;
    }
    aside {
        float: none;
        width: 100%;
    }
    footer > div {
        width: 90%;
        padding: 0 5%;
        clear: both;
        text-align: center;
    }
    footer p {
        margin-left: 0;
    }
    footer .donate {
        margin-bottom: 1em;
    }
}
@media screen and (max-width: 427px) {
    #globalnav .social {
        left: 11px;
        position: absolute;
        top: 187px;
    }
}