# The Plone version is pinned into the base.cfg by extending a versions.cfg
# These versions will pin our release profiles to a specific version
# this will help with repeatability.
[versions]
collective.recipe.plonesite = 1.8.5
i18ndude = 3.3.4
ipython = 0.12
jarn.checkinterval = 1.0
jarn.setuptoolsfixer = 1.0
lovely.buildouthttp = 0.5.0
plone.app.debugtoolbar = 1.0a3
plonetheme.classic = 1.3.3
Products.DCWorkflowGraph = 0.4.1
Products.DocFinderTab = 1.0.5
Products.PDBDebugMode = 1.3.1
Products.PrintingMailHost = 0.7
Products.signalstack = 1.0rc2
setuptools = 0.9.7
sixfeetup.customfolderalert = 1.2
sixfeetup.utils = 2.15
threadframe = 0.2
z3c.deadlockdebugger = 0.2
z3c.jbot = 0.7.2
z3c.offlinepack = 0.3
z3c.recipe.tag = 0.3.0
zc.buildout = 2.2.0